<!-- These appear reversed because the attack method changes the turn array -->
<% if @game.active_player.hp <= 0 %>
  <%=@game.idle_player.name%> has attacked <%=@game.active_player.name%><br>
  <%=@game.active_player.name%> has lost the battle!
<% else %>
  <%=@game.idle_player.name%> has attacked <%=@game.active_player.name%><br>
  <%=@game.active_player.name%> has <%=@game.active_player.hp%>hp<br>
  <form action="/switch_turns" method="get">
    <input  type="submit" value="Ok"/>
  </form>
<% end %>
