<!-- These appear reversed because the attack method changes the turn array -->
<% if @game.players[@game.turn[0]].hp <= 0 %>
  <%=@game.players[@game.turn[1]].name%> has attacked <%=@game.players[@game.turn[0]].name%><br>
  <%=@game.players[0].name%> has lost the battle!
<% else %>
  <%=@game.players[@game.turn[1]].name%> has attacked <%=@game.players[@game.turn[0]].name%><br>
  <%=@game.players[@game.turn[0]].name%> has <%=@game.players[@game.turn[0]].hp%>hp<br>
  <form action="/switch_turns" method="get">
    <input  type="submit" value="Ok"/>
  </form>
<% end %>
