<% if @game.turn == @game.player1 %>
<h3> <%= @game.player1.name %> stabs <%= @game.player2.name %>. ouch.</h3>
<h4> <%= @game.player2.name %> has <%= @game.player2.hp %>HP </h4>
<h5><%= @game.player2.name %>'s turn </h5>
<% else %>
<h3> <%= @game.player2.name %> stabs <%= @game.player1.name %>. ouch.</h3>
<h4> <%= @game.player1.name %> has <%= @game.player1.hp %>HP </h4>
<h5><%= @game.player1.name %>'s turn </h5>
<% end %>

<form action ="/switch" method="post">
  <input type='submit' value='Next attack'>
</form>
